<%- include layout/header.ejs %>
<div class="mid">
    <div><img src="./images/profile/thumb/<%= data.pic %>" width="50"
              style="vertical-align:middle;">&nbsp;<b><%= data.fname %></b>&nbsp;|&nbsp;<a href="/logout">Logout</a>
    </div>
    <h1>Task List</h1>
    </br>
    <input type = text value = '<%=project[0].code%>' id = 'code' name = 'code' style = 'display: none'>
    <input type = text value = '<%=tasks.length%>' id = 'tasksize' name = 'tasksize' style = 'display: none'>
    <input type = text value = '<%=project[0].project_id%>' id = 'proj_id' name = 'proj_id' style = 'display: none'>
    <h1>Project : <%=project[0].project_name%></h1>
    <a href="add-task?project_id=<%=project[0].project_id%>&tasksize=<%=tasks.length%>&code=<%=project[0].code%>">Add Project</a>&nbsp;|&nbsp;<a href="export-excel">Export Excel</a>
    <table width="100%" cellpadding="15" id = 'tbl'>
        <tr>
            <td>Sl.</td>
            <td>Create Date</td>
            <td>Task Code</td>
            <td>Description</td>
            <td>Assignee</td>
            <td>Estimate</td>
            <td>Work Log</td>
            <td>Status</td>
            <td>Approved</td>
            <td>Creator</td>
            <td>&nbsp;</td>
        </tr>
        <% for(i = 0;i < tasks.length;i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= tasks[i].create_time%></td>
            <td><%= tasks[i].task_code %></td>
            <td><%= tasks[i].description %></td>
            <td id="assign<%=i+1%>"><%= tasks[i].firstname + ' ' + tasks[i].lastname+ ' (' + tasks[i].email + ')'%></td>
            <td><%= tasks[i].estimate %></td>
            <td><%= tasks[i].log_work %></td>
            <td><%= tasks[i].status_id %></td>
            <td><%= tasks[i].approved %></td>
            <td id="report<%=i+1%>"><%= tasks[i].reporter_id %></td>
            <td><a href="/edit-task?id=<%= tasks[i].task_id%>">Edit</a>&nbsp;|&nbsp;<a href="/delete-task/<%= tasks[i].task_id %>&<%= tasks[i].project_id%>">Delete</a>&nbsp;<!--|&nbsp;<a href="/show-task?id= <%= tasks[i].task_id %> ">Show Task</a>&nbsp;|&nbsp;<a href="/delete-todo/<%= tasks[i].task_id %>">Add Task</a>-->
            </td>
        </tr>
        <% } %>
    </table>
</div>
<script>
    var t = document.getElementById("tbl");
    for (var r = 1; r < t.rows.length; r++) {
        var date = t.rows[r].cells[1].innerHTML;
        var newDate = date.substring(6,8)+'/'+date.substring(4,6)+'/'+date.substring(0,4);
        t.rows[r].cells[1].innerHTML = newDate;


        $.ajax({
            type: "POST",
            url: "./ajax/getName",
            data: "mode=getName&id=" + t.rows[r].cells[4].innerHTML,
            success: function (msg) {
                //alert(msg);
                data = msg;
                if (data.status == 'exist') {
                    /* obj.after("<label class='error'>Email Id Aleady Exist</label>");*/
                    /*$("#frmId .btn").attr('disabled', 'disabled');*/
                    document.getElementById('assign'+r).innerHTML = data.name;
                }

            }
        });

        $.ajax({
            type: "POST",
            url: "./ajax/getName",
            data: "mode=getName&id=" + t.rows[r].cells[9].innerHTML,
            success: function (msg) {
                //alert(msg);
                data = msg;
                if (data.status == 'exist') {
                    /* obj.after("<label class='error'>Email Id Aleady Exist</label>");*/
                    /*$("#frmId .btn").attr('disabled', 'disabled');*/
                    document.getElementById('report'+r).innerHTML = data.name;
                }

            }
        });
    }
    function converDate(i){
        return i.substring(6,7)+'/'+i.substring(4,5)+i.substring(0,3);
    }
</script>
<%- include layout/footer.ejs %>
