<!DOCTYPE HTML>
<html>

<head>
    <title>ACD</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/">
                            <img src="img/ACD_Final_Logo_2.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <!--<form class="main-header-search">
                            <div class="form-group form-group-icon-left">
                                <i class="fa fa-search input-icon"></i>
                                <input type="text" class="form-control">
                            </div>
                        </form>-->
                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a href="/edit-account?email=<%=data.emailheader%>">
                                        <img class="origin round" src="img/40x40.png" alt="Image Alternative text" title="AMaze" />Hi, <%= data.fname %></a>
                                </li>
                                <li><a href="/logout">Sign Out</a>
                                </li>
                                <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                    <ul class="list nav-drop-menu">
                                        <li><a href="#">EUR<span class="right">€</span></a>
                                        </li>
                                        <li><a href="#">GBP<span class="right">£</span></a>
                                        </li>
                                        <li><a href="#">JPY<span class="right">円</span></a>
                                        </li>
                                        <li><a href="#">CAD<span class="right">$</span></a>
                                        </li>
                                        <li><a href="#">AUD<span class="right">A$</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="top-user-area-lang nav-drop">
                                    <a href="#">
                                        <img src="img/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />ENG<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                    </a>
                                    <ul class="list nav-drop-menu">
                                        <li>
                                            <a title="German" href="#">
                                                <img src="img/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Japanise" href="#">
                                                <img src="img/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Italian" href="#">
                                                <img src="img/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="French" href="#">
                                                <img src="img/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Russian" href="#">
                                                <img src="img/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Korean" href="#">
                                                <img src="img/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>





    <div class="container">


        <h3><a href="/">Project</a> > <a href="/show-task?id=<%=project[0].project_id%>"><%=project[0].project_name%></a></h3>
        <br/>
        <h1 class="booking-title">Task List<small><!--<a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Change search</a>--></small></h1>
        <form action = '/show-task?id=<%=project[0].project_id%>' method = 'get'>
            <h2>Filtered By </h2>
            <div class="booking-item-dates-change mb30">
            <div class="row">
                <input class="typeahead form-control" name = 'id' id = 'id' value="<%=project[0].project_id%>"  type="text" style="display: none"/>
                    <%if(data.type == 1){%>
                        <div class="col-md-3">
                            <div class="form-group form-group-icon-left">
                                <label>Assignee :</label>
                                <input class="typeahead form-control" name = 'assigneeflt' id = 'assigneeflt' value=""  type="text" />
                            </div>

                        </div>
                    <%}%>

                    <div class="col-md-3">
                        <div class="form-group form-group-icon-left">
                            <label>Reporter : </label>
                            <input class="typeahead form-control" name = 'reporterflt' id = 'reporterflt' value=""  type="text" />
                        </div>
                    </div>
                <div class="col-md-2">
                    <div class="form-group form-group-icon-left">
                        <label>Status : </label>
                        <select name="statusflt" id="statusflt">
                            <option value="" selected></option>
                            <option value="1" >Open</option>
                            <option value="2">In Progress</option>
                            <option value="3">Resolved</option>
                            <option value="4">Reopen</option>
                            <option value="5">Paid</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-group-icon-left">
                        <label>Approved : </label>
                        <select name="approvedflt" id="approvedflt">
                            <option value="" selected></option>
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <input class="btn btn-primary" value = 'Search' type = 'submit'></input>
            </div>
            </div>
            <br/>

        </form>
        <br/>

        <table>
            <tr>
                <td>
                    <a class="btn btn-primary" href="add-task?project_id=<%=project[0].project_id%>&tasksize=<%=tasks.length%>&code=<%=project[0].code%>">Add Task</a>
                </td>
                <!--<td>
                    <a class="btn btn-primary" href="export-excel">Export Excel</a>
                </td>-->
            </tr>

        </table>

        <br/>
        <div class="row">

            <div class="col-md-12">

                <ul class="booking-list">
                    </br>
                    <input type = text value = '<%=project[0].code%>' id = 'code' name = 'code' style = 'display: none'>
                    <input type = text value = '<%=tasks.length%>' id = 'tasksize' name = 'tasksize' style = 'display: none'>
                    <input type = text value = '<%=project[0].project_id%>' id = 'proj_id' name = 'proj_id' style = 'display: none'>
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="booking-item-title">Task Code</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Assignee</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Reporter</h4>
                        </div>
                        <div class="col-md-1">
                            <h4 class="booking-item-title">Status</h4>
                        </div>
                        <div class="col-md-1">
                            <h4 class="booking-item-title">Approve</h4>
                        </div>
                        <div class="col-md-1">
                            <h4 class="booking-item-title">Created Date</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Ref Name</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Activity</h4>
                        </div>
                    </div>
                    <% for(i = 0;i < tasks.length;i++){ %>


                    <li>
                        <%if((data.emailheader.trim() == tasks[i].assignee_email) || (tasks[i].assignee_id == 0) || (data.type == 1)){%>
                            <a class="booking-item" href="/edit-task?id=<%= tasks[i].task_id%>">
                        <%}else{%>
                                <a class="booking-item" href="" onclick="javascript:return false;">
                        <%}%>

                            <div class="row">

                                <div class="row">
                                    <div class="col-md-1">
                                        <h5 class="booking-item-title"><%= tasks[i].task_code %></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="booking-item-description">
                                            <%if (tasks[i].assignee_firstname != null){%>
                                                <%= tasks[i].assignee_firstname + ' ' + tasks[i].assignee_lastname+ ' (' + tasks[i].assignee_email + ')'%>
                                            <%}%>


                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="booking-item-description"> <%= tasks[i].reporter_firstname + ' ' + tasks[i].reporter_lastname+ ' (' + tasks[i].reporter_email + ')'%></p>
                                    </div>
                                    <div class="col-md-1">
                                        <p class="booking-item-description">
                                            <%if(tasks[i].status_id == 1) {%>
                                                <img src="img/icon/open.png" alt="Image Alternative text"
                                                     title="Image Title"/>
                                            <%} else if(tasks[i].status_id == 2) {%>
                                                <img src="img/icon/progress.png" alt="Image Alternative text"
                                                     title="Image Title"/>
                                            <%} else if(tasks[i].status_id == 3) {%>
                                                <img src="img/icon/resolved.png" alt="Image Alternative text"
                                                     title="Image Title"/>
                                            <%} else if(tasks[i].status_id == 4) {%>
                                                <img src="img/icon/reopen.png" alt="Image Alternative text"
                                                     title="Image Title"/>
                                            <%} else  if(tasks[i].status_id == 5) {%>
                                                <img src="img/icon/closed.png" alt="Image Alternative text"
                                                     title="Image Title"/>
                                            <%} else {%>
                                                <img src="img/icon/paid.png" alt="Image Alternative text"
                                                     title="Image Title"/>
                                            <%}%>
                                        </p>
                                    </div>
                                    <div class="col-md-1">
                                        <% if(tasks[i].approved == 'Y') {%>
                                        <p class="booking-item-description">Yes</p>
                                        <%} else  {%>
                                        <p class="booking-item-description">No</p>
                                        <%}%>

                                    </div>
                                    <div class="col-md-1">
                                        <p class="booking-item-description" id = 'date<%=i%>' ></p>
                                    </div>
                                    <div class="col-md-2">
                                        <h5 class="booking-item-title"><%= tasks[i].refname %></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5 class="booking-item-title"><%= tasks[i].activity %></h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                   <!-- <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-primary" href="/edit-task?id=<%= tasks[i].task_id%>">Edit</a>
                                            </td>

                                        </tr>

                                    </table>-->
                                </div>
                            </div>
                        </a>
                    </li>
                    <% } %>


                </ul>
               <!-- <div class="row">
                    <div class="col-md-6">
                        <p><small>530 things to do in New York. &nbsp;&nbsp;Showing 1 – 15</small>
                        </p>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">6</a>
                            </li>
                            <li><a href="#">7</a>
                            </li>
                            <li class="dots">...</li>
                            <li><a href="#">43</a>
                            </li>
                            <li class="next"><a href="#">Next Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>Not what you're looking for? <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Try your search again</a>
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="gap"></div>
    </div>



    <footer id="main-footer">
        <div class="container">
            <div class="row row-wrap">

                <div class="col-md-3">
                    <h4>Texas - HQ: </h4>
                    <h5 class="text-color">Address: 2908 National Drive, Suite 100, Garland, TX 75041 </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>Florida - Design:</h4>
                    <h5 class="text-color">Address: Miami, </h5>
                    <h5 class="text-color">Phone:  847.920.7235 </h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>California - Sales:</h4>
                    <h5 class="text-color">Address: San Jose, California </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>China - NPI Center:</h4>
                    <h5 class="text-color">Address: Shanghai, China</h5>
                    <h5 class="text-color">Phone:  469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>

            </div>
            <div class="row row-wrap">
                <div class="col-md-4">
                    <h5 class="text-color">Email: sales@austincircuit.com </h5>
                    <h5><a href="http://www.austincircuitdesign.com/" class="text-color">http://www.austincircuitdesign.com/</a></h5>
                    <p>Open Monday - Friday 08:00am - 06:00pm</p>
                </div>

            </div>

        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>
    <script>
        <% for(i = 0;i < tasks.length;i++){ %>
            var date = '<%=tasks[i].create_time%>';
            var newDate = date.substring(6,8)+'/'+date.substring(4,6)+'/'+date.substring(0,4);
            document.getElementById('date<%=i%>').innerHTML = newDate;
        <%}%>
        function converDate(i){
            return i.substring(6,7)+'/'+i.substring(4,5)+i.substring(0,3);
        }
    </script>
</div>
</body>

</html>


